<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ActiveAlarmsGridWebServicePortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dev02-bck-srv1.mngt.dev:7051/MAPP-DIS-WS/ActiveAlarmsGridWebService"
                binding="basicHttpBinding" bindingConfiguration="ActiveAlarmsGridWebServicePortBinding"
                contract="AlarmsGridWS.ActiveAlarmsGridWebService" name="ActiveAlarmsGridWebServicePort" />
        </client>
    </system.serviceModel>
</configuration>